/docs @eric-haibin-lin @zhaochenyang20 @hongpeng-guo
/docs/amd_tutorial @yushengsu-thu
/docs/sglang_multiturn @zhaochenyang20 @SwordFaith
/docs/ascend_tutorial @wucong25
/docs/advance/ppo_lora.rst @HollowMan6

/verl/third_party/vllm @PeterSH6 @wuxibin89

/examples/grpo_trainer @vermouth1992 @PeterSH6 @tardis-key @wucong25 @ji-huazhong

/verl/single_controller @zw0610 @wuxibin89 @hongpeng-guo
/verl/trainer @eric-haibin-lin @vermouth1992 @tongyx361 @PeterSH6
/verl/models/mcore @ISEEKYAN @vermouth1992 @HollowMan6
/verl/models/transformers @vermouth1992 @PeterSH6 @tardis-key @wucong25 @ji-huazhong
/verl/workers/engine @eric-haibin-lin @vermouth1992 @ZihengJiang @ArronHZG
/verl/workers/utils @eric-haibin-lin @vermouth1992 @ZihengJiang
/verl/workers/engine/fsdp @eric-haibin-lin @vermouth1992 @ZihengJiang
/verl/workers/engine/veomni @wuxibin89 @Luosuu @FoolPlayer
/verl/workers/rollout/vllm_rollout @wuxibin89 @PeterSH6 @chenhaiq @ArronHZG @HollowMan6
/verl/workers/rollout/sglang_rollout @zhaochenyang20 @SwordFaith @chenhaiq @ArronHZG
/verl/workers/engine/megatron @ISEEKYAN @vermouth1992 @HollowMan6
/verl/experimental @wuxibin89 @ArronHZG

/verl/utils/megatron @ISEEKYAN @HollowMan6
/verl/utils/megatron_peft_utils.py @HollowMan6
/verl/utils/vllm @wuxibin89 @HollowMan6

/tests/single_controller @zw0610 @wuxibin89
/tests/trainer @eric-haibin-lin @vermouth1992 @tongyx361 @PeterSH6
/tests/utils/test_vllm_weight_name_normalization_on_cpu.py @HollowMan6
/tests/workers/rollout/rollout_vllm @wuxibin89 @PeterSH6 @chenhaiq
